/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500); 
@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables, mixins, etc.. */

@mixin background-tile {
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 3px 3px 5px 6px #ccc;
	padding: 1.5em 1.25em;
}


/* General styles */

body {
    background-color: black;
    background: url(http://cdn2.hubspot.net/hubfs/372554/Greenhouse_Icons_and_Logos/greenhouse-og-thumb.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}


p{
	color: orange
}

table{
	color: orange
}

th{
	color: blue
}

td {
	color: red
}



p.alert, .notice {
	margin: 0;
}


#notice_wrapper {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
	background: rgba(135, 216, 211, 0.85);
	.alert, .notice {
	padding: 1.7rem 0;
	text-align: center;
	margin: 0;
	font-size: 1.25rem;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: 1px;
	}
}


/* Navbar/navigation styles */

.navbar {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
}
.navbar-navbar-inverse {
	background-color: #fff;
	padding-bottom: 5px;
	padding-top: 5px;

	.navbar-nav > li > a {
		color: #222;
		&:hover {
		color: darken(#f1c40f, 5%);
		transition: 0.5s;
		}
	}

	.navbar-header {
		.navbar-brand {
			color: #222;
			letter-spacing: 1.4px;
		}

	}

	.dropdown-menu > li > a:hover {
		background-color: darken(#f1c40f, 5%);
		color: #fff;
	}

	.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
		background-color: darken(#f1c40f, 5%);
		color: #fff;	
	}


}
#searchInput {
		width: 150px;
	}

.dropdown-menu > .active > a {
	background-color: #f1c40f;
	color: #fff;
}


/* Button/link styles */

.btn-custom {
	color: darken(#f1c40f, 5%);
	background-color: #fff;
	border: 1px solid darken(#f1c40f, 5%);
	padding: 8px 20px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: darken(#f1c40f, 5%);
		color: #fff;
		transition: 0.5s;
	}
}

.btn-custom2 {
	color: #333;
	background-color: #fff;
	border: 1px solid #222;
	padding: 8px 20px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: #333;
		color: #fff;
		transition: 0.5s;
	}	
}

.links {

	.btn-custom {
		padding: 3px 10px;
		font-weight: 300;
	}

}

.directories-links {


	.btn-custom {
		padding: 3px 10px;
		font-weight: 300;
		margin-top: 40px;	
	}

}

/* directories styles */

.directories {
	height: 350px;
	width: 250px;
	margin-bottom: 40px;
	@include background-tile;
}

.directories-show {
	height: 475px;
	width: 325px;
	@include background-tile;
}

.directories-info {
	@include background-tile;

	.directory-first_name {
		margin-top: 0;
		font-size: 2em;
	}

	.directory-last_name {
		margin-top: 0;
		font-size: 2em;
	}

	.title {
		font-size: 1.5em;
		margin-top: 15px;
		margin-bottom: 5px;
	}

	.email {
		font-size: 1.5em;
		margin-top: 15px;
		margin-bottom: 5px;
	}

	.previous {
		font-size: 1.5em;
		margin-top: 15px;
		margin-bottom: 5px;
	}
	.reporting-to {
		font-size: 1.5em;
		margin-top: 15px;
		margin-bottom: 5px;
	}
	.office_location {
		font-size: 1.5em;
		margin-top: 15px;
		margin-bottom: 5px;
	}
	.seating_zone {
		font-size: 1.5em;
		margin-top: 15px;
		margin-bottom: 5px;
	}

	.fun_fact_one {
		font-size: 1.5em;
		margin-top: 15px;
		margin-bottom: 5px;
	}
	.fun_fact_two {
		font-size: 1.5em;
		margin-top: 15px;
		margin-bottom: 5px;
	}
	.fun_fact_three {
		font-size: 1.5em;
		margin-top: 15px;
		margin-bottom: 5px;
	}
	
	.directory-desc {
		font-size: 1.05em;
		line-height: 1.5;
		margin-bottom: 15px;
		margin-top: 15px;
	}

}

.logo {
	max-height: 80px
}


/* current-category styles */

.current-category {
	margin-bottom: 40px;
}


/* New directories Form styles */

.new-directories-form {
	@include background-tile;
	margin-bottom: 60px;

	h1 {
		margin-top: 0;
	}

	#category_id {
		margin-bottom: 10px;
	}

	#directory_directories_img {
		margin-bottom: 10px;
	}


}


/* Edit directories Form styles */

.edit-directories-form {

	@include background-tile;
	margin-bottom: 60px;

	h1 {
		margin-top: 0;
	}

	#directories_category_id {
		margin-bottom: 10px;
	}

	#directorory_directories_img {
		margin-bottom: 10px;
	}

}

.error_message{
	width: 400px;
	border: 2px solid #CF0000;
	padding: 0px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	front-size: 10px;

}


/* Signup/Login form styles */

.signup-form {
	@include background-tile;

	h2 {
		margin-top: 0;
	}

}

.login-form {
	@include background-tile;

	h2 {
		margin-top: 0;
	}

}

#facebook {
	padding: 15px;
			&:hover {
			color: white !important;
		}
	
}
#searchbutton {
	height: 34px;
}

#heart{
	color: red
}

#footer{
	margin-bottom: 10px
}

.new-contacts-form {

	background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 1.5em 1.25em;

	h2 {
		margin-top: 0;
	}

}

